<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <div class="row p-2">
                <div class="col-xs-3 col-sm-3">
                    <form>
                        <input placeholder="cerca il parametro desiderato" id="table-filtering-search" class="form-control" type="text" [formControl]="filter" />
                    </form>
                </div>
            
                <div class="col-xs-1 col-sm-2"></div>
            
                <div class="col-xs-2 col-sm-3">
                    <ngb-pagination  
                        [collectionSize]="dataLen"
                        [(page)]="page"
                        [pageSize]="pageSize"
                        (pageChange)="refreshData()"
                    >
                    </ngb-pagination>
                </div>
                <div class="col-xs-1 col-sm-1"></div>
            
                <div class="col-xs-2 col-sm-3">
                    <select class="form-select" [(ngModel)]="pageSize" (ngModelChange)="refreshData()">
                        <option [ngValue]="5">5 items per page</option>
                        <option [ngValue]="10">10 items per page</option>
                        <option [ngValue]="12">12 items per page</option>
                        <option [ngValue]="14">14 items per page</option>
                    </select>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th scope="col" class="col-1">Position</th>
                        <th scope="col" class="col-3" >Giocatore</th>
                        <th scope="col" class="col-2" >Punti</th>
                        <th scope="col" class="col-6" >Data</th>
        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let element of dataSourceOrdered$ | async">
                        <th scope="row" 
                            [ngClass]="{
                                'golden': element.rankingNumOrdered == 1,
                                'silver': element.rankingNumOrdered == 2,
                                'bronze': element.rankingNumOrdered == 3
                            }">{{ element.rankingNumOrdered }}
                        </th>
                        <td 
                            [ngClass]="{
                                'golden': element.rankingNumOrdered == 1,
                                'silver': element.rankingNumOrdered == 2,
                                'bronze': element.rankingNumOrdered == 3
                            }">
                            <ngb-highlight [result]="element.username | titlecase" [term]="filter.value"></ngb-highlight>
                        </td>
                        <td 
                            [ngClass]="{
                                'golden': element.rankingNumOrdered == 1,
                                'silver': element.rankingNumOrdered == 2,
                                'bronze': element.rankingNumOrdered == 3
                            }">
                            <ngb-highlight [result]="element.score | number" [term]="filter.value"></ngb-highlight>
                        </td>
                        <td 
                            [ngClass]="{    
                                'golden': element.rankingNumOrdered == 1,
                                'silver': element.rankingNumOrdered == 2,
                                'bronze': element.rankingNumOrdered == 3
                            }">
                            <ngb-highlight [result]="element.lastGamePlayedAt | date:'dd-MM-yy - HH:mm'" [term]="filter.value"></ngb-highlight>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>