<div id="body">
  <div class="section">
    <div class="container">
      <div class="row full-height justify-content-center">
        <div class="col-12 text-center align-self-center py-5">
          <div class="section pb-5 pt-5 pt-sm-2 text-center">
            <h6 class=""><span class="lf">Entra</span><span class="rt">Registrati</span></h6>
            <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" [checked]="regLogChecked"/>
            <label for="reg-log"></label>
            
            <div class="card-3d-wrap mx-auto">
              <div class="card-3d-wrapper">

                <div class="card-front">
                    <div class="center-wrap">
                        <div class="section text-center">
                            <h4 class="mb-4 pb-3 tit">Login</h4>
                            <form #formLogin="ngForm" (ngSubmit)="login(formLogin)">
                                <div class="form-group">
                                    <input 
                                    [ngModel] required
                                    name="username" 
                                    type="text" 
                                    class="form-style form-control" 
                                    placeholder="Inserisci Email/Username" 
                                    #usernam="ngModel" 
                                    autocomplete="on"/>
                                    <i class="input-icon uil uil-at">➥</i>
                                </div>	
                                <div [style.display]="usernam.invalid && (usernam.dirty || usernam.touched) ? 'block' : 'none'"
                                  class="text-danger">☢ Manca Lo Username
                                </div>
                                
                                <div class="form-group mt-2">
                                    <input 
                                    [ngModel] required 
                                    name="password" 
                                    type="password" 
                                    class="form-style form-control" 
                                    placeholder="Inserisci Password" 
                                    #passwor="ngModel" 
                                    autocomplete="on"/>
                                    <i class="input-icon uil uil-lock-alt">➥</i>
                                </div>
                                <div [style.display]="passwor.invalid && (passwor.dirty || passwor.touched) ? 'block' : 'none'"
                                  class="text-danger">☢ Manca La Password
                                </div>
                                <div style="padding: 0;" class="form-group">
                                    <button class="pass-dimenticata" (click)="goToRecoverPass()">
                                      <span class="icn-pass">➥</span><span class="txt-pass">Password dimenticata?</span>
                                    </button>
                                </div>
                                <div style="padding: 0;" class="form-group">
                                    <button type="submit" class="form-control btn mt-4">Entra</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div *ngIf="!isPassToRecover; else passRecover" class="card-back">
                  <div class="center-wrap">
                      <div class="section text-center">
                        <h4 class="mb-4 pb-3 tit">Registrazione</h4>
                        <form #formRegister="ngForm" (ngSubmit)="register(formRegister)">
                          <div class="form-group mt-2">
                            <i class="input-icon uil uil-user">➥</i>
                            <input 
                            [ngModel] 
                            required
                            name="name" 
                            type="text" 
                            class="form-style" 
                            placeholder="Il Tuo Nome" 
                            id="name" 
                            #name="ngModel" 
                            autocomplete="on" >
                          </div>	
                          <div [style.display]="name.invalid && (name.dirty || name.touched) ? 'block' : 'none'"
                            class="text-danger">☢ Manca Il Nome
                          </div>
                          
                          <div class="form-group mt-2">
                            <i class="input-icon uil uil-user">➥</i>
                            <input 
                            [ngModel] 
                            required
                            name="surname" 
                            type="text" 
                            class="form-style" 
                            placeholder="Il Tuo Cognome" 
                            id="surname" 
                            #surname="ngModel" 
                            autocomplete="on" >
                          </div>	
                          <div [style.display]="surname.invalid && (surname.dirty || surname.touched) ? 'block' : 'none'"
                            class="text-danger">☢ Manca Il Cognome
                          </div>

                          <div class="form-group mt-2">
                            <i class="input-icon uil uil-user">➥</i>
                            <input 
                            [ngModel] 
                            required
                            name="username" 
                            type="text" 
                            class="form-style" 
                            placeholder="Il Tuo Username" 
                            id="username" 
                            #username="ngModel" 
                            autocomplete="on" >
                          </div>	
                          <div [style.display]="username.invalid && (username.dirty || username.touched) ? 'block' : 'none'"
                            class="text-danger">☢ Manca Lo Username
                          </div>

                          <div class="form-group mt-2">
                            <i class="input-icon uil uil-user">➥</i>
                            <input 
                            [ngModel] 
                            required
                            name="email" 
                            type="text" 
                            class="form-style" 
                            placeholder="La Tua Email" 
                            id="email" 
                            #email="ngModel" 
                            autocomplete="on" >
                          </div>	
                          <div [style.display]="email.invalid && (email.dirty || email.touched) ? 'block' : 'none'"
                            class="text-danger">☢ Manca L'Email
                          </div>
                          
                          <div class="form-group mt-2">
                            <i class="input-icon uil uil-user">➥</i>
                            <input 
                            [ngModel] 
                            name="password" 
                            type="text" 
                            class="form-style" 
                            placeholder="La Tua Password" 
                            required id="password" 
                            #password="ngModel" 
                            autocomplete="on" >
                          </div>	
                          <div [style.display]="password.invalid && (password.dirty || password.touched) ? 'block' : 'none'"
                            class="text-danger">☢ Manca La Password
                          </div>

                          <div class="form-group">
                            <button type="submit" class="form-control btn mt-4">Registrati</button>
                          </div>
                        </form>
                      </div>
                  </div>
                </div>

                <ng-template #passRecover class="pass-recovery">
                  <div class="card-back">
                    <div class="center-wrap">
                        <div class="section text-center">
                          <h4 class="mb-4 pb-3 tit">Password Recovery</h4>
                          <form #formRecovery="ngForm" (ngSubmit)="sendRecoveryMail(formRecovery)">
                            
                            <div class="form-group mt-2">
                              <i class="input-icon uil uil-user">➥</i>
                              <input 
                                [ngModel] 
                                required
                                name="email" 
                                type="text" 
                                class="form-style" 
                                placeholder="La Tua Email" 
                                id="email" 
                                #email="ngModel" 
                                autocomplete="on"
                              >
                            </div>
                            <div [style.display]="email.invalid && (email.dirty || email.touched) ? 'block' : 'none'"
                              class="text-danger">☢ Manca la Mail
                            </div>
                            
                            <div class="form-group mt-2">
                              <i class="input-icon uil uil-user">➥</i>
                              <input 
                                [ngModel] 
                                required
                                name="emailCheck" 
                                type="text" 
                                class="form-style" 
                                placeholder="Inserisci nuovamente la mail" 
                                id="emailCheck" 
                                #emailCheck="ngModel" 
                                autocomplete="off"
                              >
                            </div>
                            <div [style.display]="email.value !== emailCheck.value ? 'block' : 'none'"
                              class="text-danger">☢ Le Mail non Corrispondono
                            </div>

                            <div style="padding: 0;" class="form-group">
                              <button class="pass-dimenticata" (click)="backToLogin()">
                                <span class="icn-pass">➥</span><span class="txt-pass">Torna indietro</span>
                              </button>
                            </div>

                            <div class="form-group">
                              <button type="submit" class="form-control btn mt-4">Recupera la Password</button>
                            </div>
                          </form>
                        </div>
                    </div>
                  </div>
                </ng-template>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  