.close-btn{
    color: white;
    border: none;
    background: none;
    transform: scale(2);
    text-shadow: 1px 0px 2px black, -1px 2px 2px #c02936;
    position: absolute;
    top: 2vh;
    right: 0.5vw;
  }
    
  .close-btn:hover{
    transform: scale(2.6);
  }

  .modal-title {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 26px;
    top: 5px;
    white-space: nowrap; /* Assicura che il testo rimanga su una riga */
    overflow: hidden; /* Nasconde il testo oltre il limite */
    text-overflow: ellipsis; /* Mostra i punti di sospensione se il testo supera lo spazio disponibile */
    cursor: pointer; /* Cambia il cursore quando passi sopra il testo */
  
    /* Aggiungi animazione al testo completo */
    &.full-text {
      white-space: normal;
      overflow: visible;
      text-overflow: initial;
    }
  }
  