.modal-body{
  max-height: 597px;
  align-items: center;
  text-align: center;
}

.modal-title{
  position: relative;
  left: 50%;
  translate: -50%;
  top: 20px;
  max-height: 597px;
}

.review{
  width: 360px; 
  text-align: center;
  margin-bottom: 30px;
}

.all-btn{
  color: white;
  border: none;
  background: none;
  transform: scale(2);
  text-shadow: 1px 0px 2px black, -1px 2px 2px #c02936;
}

.all-btn:hover{
  transform: scale(2.6);
}

.btn-cent{
  transform: scale(0.65);
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 440px;
}