<div class="cont-single-card">
  <div class="pos-correct-top-film-cart">
      <app-fav-card-iscorrect
        [movieElement]="movieElement" 
        [i]="i" 
      >
      </app-fav-card-iscorrect>
  </div>
  
  <img class="img-fluid" src="https://image.tmdb.org/t/p/w185/{{movieElement.poster_path}}">
  
  <div class="navbar-position">
    <div class="navbar-details">
      <button class="all-btn" (click)="d('close-click')">
        <span class="material-symbols-outlined">arrow_back</span>
      </button>
      <button class="all-btn fav-btn" (click)="favorite(movieElement.id)" [ngClass]="{ 'added': buttonText === 'bookmark_added' }">
        <span class="material-symbols-outlined">{{buttonText}}</span>
      </button>
      <button class="all-btn" (click)="like(movieElement.id)">
        <span class="material-symbols-outlined" [ngClass]="{ 'like-touched': favMovieForDB.like }">{{!favMovieForDB.like ? "favorite" : "heart_check"}}</span>
      </button>
      <button class="all-btn" (click)="openTemplAndSetMovieId(reviews, movieElement.id)">
        <span class="material-symbols-outlined">reviews</span>
      </button>
      <button class="all-btn" (click)="openTemplAndSetMovieId(stars, movieElement.id)">
        <span class="material-symbols-outlined">stars</span>
      </button>
      <button class="all-btn" (click)="openTemplAndSetMovieId(details, movieElement.id)">
        <span class="material-symbols-outlined">info</span>
      </button>
    </div>
  </div>
</div>

<ng-template #reviews let-c="close" let-d="dismiss">
  <app-close-btn
    [movieElement]="movieElement"
    [d]="d"
  >
  </app-close-btn>
  <app-fav-card-reviews
    [movieElement]="movieElement"
    [c]="c" 
  >
  </app-fav-card-reviews>
</ng-template>

<ng-template #stars let-c="close" let-d="dismiss">
  <app-close-btn
    [movieElement]="movieElement"
    [d]="d"
  >
  </app-close-btn>
  <app-fav-card-stars
    [movieElement]="movieElement"
    [c]="c" 
  >
  </app-fav-card-stars>
</ng-template>

<ng-template #details let-c="close" let-d="dismiss">
  <app-close-btn
    [movieElement]="movieElement"
    [d]="d"
  >
  </app-close-btn>
  <app-fav-card-details
    [movieElement]="movieElement"
  >
  </app-fav-card-details>
</ng-template>