/** ** texts ** **/
p{
    padding-top: 22px;
    font-size: 36px;
    align-items: center;
    text-align: center;
  }
  
  p span{
    background: none;
    color: #c02936;
    font-size: 36px;
    align-items: center;
    text-align: center;
    text-shadow: -3px 3px 3px black,
                 -1px 2px 2px red;
  }
  
  /** ** first text before each movie list ** **/
  .first-text{
    position: relative;
    left: 50%;
    translate: -50%;
    width: 89%;
    text-shadow: -4px 4px 4px black;
    height: 2vh;
    color: white;
  }
  
  .first-text p{
    position: relative;
    top: 5vh;
  }


.box {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 190px;
    height: 240px;
    margin: 20px; /* Aggiunto margine tra gli elementi */
  }
  
  .box:hover{
    scale: 1.2;
    cursor: url('data:image/svg+xml;utf8,' + 
      '<svg xmlns="http://www.w3.org/2000/svg" ' + 
        'viewBox="0 0 24 24" ' + 
        'fill="white" ' + 
        '' +
        'width="48px" ' + 
        'height="48px"' + 
        '>' + 
        '<path ' + 
          'd="M0 0h24v24H0z" ' + 
          'fill="none"' + 
        '/>' + 
        '<rect ' + 
          'width="6" ' + 
          'height="24" ' + 
          'rx="2" ' + 
          'ry="2" ' + 
          'transform="rotate(-45 3 19)" ' + 
          'opacity=".8"' + 
        '/>' + 
        '<rect ' + 
          'width="6" ' + 
          'height="24" ' + 
          'rx="2" ' + 
          'ry="2" ' + 
          'transform="rotate(-45 3 5)" ' + 
          'opacity=".8"' + 
        '/>' + 
        '<rect ' + 
          'width="6" ' + 
          'height="24" ' + 
          'rx="2" ' + 
          'ry="2" ' + 
          'opacity=".8"' + 
        '/>' + 
      '</svg>'), pointer;
  }
  
  /* ************ is correct ********* */
  .pos-correct-top{
    width: 92%;
    position: relative;
    top: 0.4vh;
    left: 0.4vw;
    z-index: 2;
  }
  
  .pos-correct-top-film-cart{
    position: relative;
    top: 0.4vh;
    z-index: 2;
  }
  
   .pos-isCorrect{
      display: flex;
      justify-content: space-around;
      scale: 1.8;
  }
  
  .pos-icon{
    margin-top: 0.2vh;
    /* ***** shadow for the icon ***** */
    text-shadow:
    -3px 3px 3px black,
    -1px 2px 2px red;
  }
  
  .pos-index{
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 11px;
    font-weight: bold;
  
    /* ***** shadow for the number ***** */
    text-shadow: none !important;
    box-shadow:
    -3px 3px 3px black,
    -1px 2px 2px white;
    
    border: solid black 1px;
    border-end-end-radius: 12%;
    border-end-start-radius: 12%;
  }
  
  
  /** ** buttons ** **/
  
  .navbar-position{    
    position: relative;
    bottom: 6vh;
  }
  
  .navbar-details{
    display: flex;
    justify-content: space-evenly
  }
  
  .all-btn{
    color: white;
    border: none;
    background: none;
    transform: scale(2);
    text-shadow: 1px 0px 2px black, -1px 2px 2px #c02936;
  }
  
  .all-btn:not(.added):hover{
    transform: scale(2.6);
  }
  
  .added {
    transform: rotate(10deg) 
               scale(3);
    color: green; 
  }
  
  .img-fluid{
    position: relative;
    top: -2vh;
  }
  
  /************   tasto preferiti   **********/ 
  
  // .fav-btn{
  //   top: 0.8vh;
  //   transform: scale(2.5);
  //   left: 1.5vw;
  // }
  
  // .fav-btn:not(.added):hover {  
  //   transform: scale(3);
  // }
  
  .close-btn{
    top: 2vh;
    right: 0.5vw;
  }
  
  .scale{
    transform: scale(0.65);
  }
  
  .btn-l{
    position: relative;
    left: 90px;
    bottom: 680px;
  }
  
  .btn-r{
    position: relative;
    right: -310px;
    bottom: 680px;
  }
  
  .btn-cent{
    transform: scale(0.65);
    position: absolute;
    left: 50%;
    translate: -50%;
    bottom: 440px;
  }
  
  .show-card-btn{
    position: relative;
    width: 100%;
    bottom: 50px;
  }
  
  /** ** all cards ** **/
  ::ng-deep .modal{
    width: 402px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20vh;
  }
  
  /** ** film cards ** **/
  .card{
    width: 399px;
    max-height: 600px; 
  }
  
  .card-body{
    margin-top: 40px;
    max-height: 600px;
    align-items: center;
    text-align: center;
  }
  
  .card-text{
    font-size: 15px;
    margin-right: 15px;
    margin-left: 15px;
  }
  
  .card-title{
    font-size: 22px;
    margin-right: 15px;
    margin-left: 15px;
  }
  
  .card-img {
    background: none;
    max-width: 399px;
    position: relative;
    box-shadow: inset
  }
  
  .card-img img{
    max-width: 399px;
    border-radius: 5px;
    height: 598px;
  }
  
  .adult{
    margin-bottom: 15px;
  }
  
  /** ** review ** **/
  .modal-body{
    max-height: 600px;
    align-items: center; 
    text-align: center;
  }
  
  .modal-title{
    position: relative;
    left: 50%;
    translate: -50%;
    top: 20px;
    max-height: 600px;
  }
  
  .rating{
    font-size: 30px; 
    color: red;
  }
  
  .review{
    width: 360px; 
    text-align: center;
    margin-bottom: 30px;
  }
  
  
  .like-touched{
    color: green;
  }