
<!-- <table mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="rankingNumOrdered">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{element.rankingNumOrdered}} </td>
    </ng-container>

    <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Giocatore </th>
        <td mat-cell *matCellDef="let element"> {{element.username | titlecase}} </td>
    </ng-container>

    <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef> Punti </th>
        <td mat-cell *matCellDef="let element"> {{element.score}} </td>
    </ng-container>

    <ng-container matColumnDef="lastGamePlayedAt">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let element"> {{element.lastGamePlayedAt | date:'dd-MM-yy - HH:mm'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"
    [ngClass]="{
        'golden': i == 0,
        'silver': i == 1,
        'bronze': i == 2
    }"></tr>
</table> -->

<h1> 
    <span>CLASSIFICA GLOBALE</span> 
</h1>
<div id="rank" class="mat-elevation-z8">

    <div class="row p-2">
        <div class="col-xs-3 col-sm-3">
            <form>
                <input placeholder="cerca il parametro desiderato" id="table-filtering-search" class="form-control" type="text" [formControl]="filter" />
            </form>
        </div>
    
        <div class="col-xs-1 col-sm-2"></div>
    
        <div class="col-xs-2 col-sm-3">
            <ngb-pagination  
                [collectionSize]="dataLen"
                [(page)]="page"
                [pageSize]="pageSize"
                (pageChange)="refreshData()"
            >
            </ngb-pagination>
        </div>
        <div class="col-xs-1 col-sm-1"></div>
    
        <div class="col-xs-2 col-sm-3">
            <select class="form-select" [(ngModel)]="pageSize" (ngModelChange)="refreshData()">
                <option [ngValue]="5">5 items per page</option>
                <option [ngValue]="10">10 items per page</option>
                <option [ngValue]="12">12 items per page</option>
                <option [ngValue]="14">14 items per page</option>
            </select>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th scope="col-1" class="col-1">Position</th>
                <th scope="col-3" class="col-3" (click)="onSort('username')">Giocatore</th>
                <th scope="col-2" class="col-2" (click)="onSort('score')">Punti</th>
                <th scope="col-6" class="col-6" (click)="onSort('lastGamePlayedAt')">Data</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let element of dataSourceOrdered$ | async">
                <th scope="row" 
                    [ngClass]="{
                        'golden': element.rankingNumOrdered == 1,
                        'silver': element.rankingNumOrdered == 2,
                        'bronze': element.rankingNumOrdered == 3
                    }">{{ element.rankingNumOrdered }}
                </th>
                <td 
                    [ngClass]="{
                        'golden': element.rankingNumOrdered == 1,
                        'silver': element.rankingNumOrdered == 2,
                        'bronze': element.rankingNumOrdered == 3
                    }">
                    <ngb-highlight [result]="element.username | titlecase" [term]="filter.value"></ngb-highlight>
                </td>
                <td 
                    [ngClass]="{
                        'golden': element.rankingNumOrdered == 1,
                        'silver': element.rankingNumOrdered == 2,
                        'bronze': element.rankingNumOrdered == 3
                    }">
                    <ngb-highlight [result]="element.score | number" [term]="filter.value"></ngb-highlight>
                </td>
                <td 
                    [ngClass]="{    
                        'golden': element.rankingNumOrdered == 1,
                        'silver': element.rankingNumOrdered == 2,
                        'bronze': element.rankingNumOrdered == 3
                    }">
                    <ngb-highlight [result]="element.lastGamePlayedAt | date:'dd-MM-yy - HH:mm'" [term]="filter.value"></ngb-highlight>
                </td>
            </tr>
        </tbody>
    </table>

</div>