.close-btn{
  color: white;
  border: none;
  background: none;
  transform: scale(2);
  text-shadow: 1px 0px 2px black, -1px 2px 2px #c02936;
  position: absolute;
  top: 2vh;
  right: 0.5vw;
}
  
.close-btn:hover{
  transform: scale(2.6);
}

.modal-title {
  max-width: 20vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 26px;
  top: 5px;
  white-space: nowrap; /* Assicura che il testo rimanga su una riga */
  overflow: hidden; /* Nasconde il testo oltre il limite */
  text-overflow: ellipsis; /* Mostra i punti di sospensione se il testo supera lo spazio disponibile */
  cursor: pointer; /* Cambia il cursore quando passi sopra il testo */

  /* Aggiungi animazione al testo completo */
  &.full-text {
    white-space: normal;
    overflow: visible;
    text-overflow: initial;
  }
}

::-webkit-scrollbar {
  width: 12px; /* larghezza della barra */
}

/* Pulsanti freccia su e giù */
::-webkit-scrollbar-button {
  display: none;
}

/* Tracciato della barra di scorrimento */
::-webkit-scrollbar-track {
  background: white; /* colore del tracciato */
}

/* Parte scorrevole della barra */
::-webkit-scrollbar-thumb {
  background: #c02936; /* colore della parte scorrevole */
  border-radius: 20px;
}

/* Pulsante iniziale/fine della barra */
::-webkit-scrollbar-track-piece:start {
  background: white; /* colore del pulsante iniziale */
}

/* Pulsante finale della barra */
::-webkit-scrollbar-track-piece:end {
  background: white; /* colore del pulsante finale */
}