.modal-body{
  height: 523px;
  text-align: center;
  width: 100%;
  padding: 0;
}

.review{
  width: 100%;
}

.format{
  position: relative;
}

.comment-btn{
  position: absolute;
  top: 1.5vh;
  right: 1.5vw;
}

.all-btn{
  color: white;
  border: none;
  background: none;
  transform: scale(2);
  text-shadow: 
    1px 0px 2px black, 
    -1px 2px 2px #c02936;
}

.all-btn:hover{
  transform: scale(2.6);
}

.custom-line {
  width: 100%;
  border-bottom: 1px solid #dee2e6;
  margin: 10px 0;
}

.chat{
  height: 40vh;
  max-height: 40vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: 10px;
  padding: 8px 12px;
  margin: 8px 12px;
  border-radius: 20px;
}

.incoming {
  border-top-left-radius: 0;
  border-bottom-left-radius: 40px;
  margin-left: 0.5vw;
  width: 70%;
  background-color: #d2d2d8;
  align-self: flex-start;
  text-align: start;

  .message-time{
    text-align: end;
    font-size: 10px;
  }

  .username{
    color: blue;
    font-size: 16px;
  }
}

.outgoing {
  border-top-right-radius: 0;
  border-bottom-right-radius: 40px;
  margin-right: 0.5vw;
  width: 70%;
  background-color: #d8ffbb;
  align-self: flex-end;
  text-align: end;

  .message-time{
    text-align: start;
    font-size: 10px;
  }

  .username{
    color: green;
    font-size: 16px;
  }
}

::ng-deep .mat-form-field {
  .mat-form-field-wrapper {
    input {
      max-width: 80%;
    }
  }
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background: none !important;
  font-size: 18px;
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
}

.message-content{
  max-width: 19vw;
  word-wrap: break-word;
}

::-webkit-scrollbar {
  width: 12px; /* larghezza della barra */
}

/* Pulsanti freccia su e giù */
::-webkit-scrollbar-button {
  display: none;
}

/* Tracciato della barra di scorrimento */
::-webkit-scrollbar-track {
  background: white; /* colore del tracciato */
}

/* Parte scorrevole della barra */
::-webkit-scrollbar-thumb {
  background: #c02936; /* colore della parte scorrevole */
  border-radius: 20px;
}

/* Pulsante iniziale/fine della barra */
::-webkit-scrollbar-track-piece:start {
  background: white; /* colore del pulsante iniziale */
}

/* Pulsante finale della barra */
::-webkit-scrollbar-track-piece:end {
  background: white; /* colore del pulsante finale */
}