.box {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 190px;
  height: 240px;
  margin: 20px; /* Aggiunto margine tra gli elementi */
}

.box:hover{
  scale: 1.2;
  cursor: url('data:image/svg+xml;utf8,' + 
    '<svg xmlns="http://www.w3.org/2000/svg" ' + 
      'viewBox="0 0 24 24" ' + 
      'fill="white" ' + 
      '' +
      'width="48px" ' + 
      'height="48px"' + 
      '>' + 
      '<path ' + 
        'd="M0 0h24v24H0z" ' + 
        'fill="none"' + 
      '/>' + 
      '<rect ' + 
        'width="6" ' + 
        'height="24" ' + 
        'rx="2" ' + 
        'ry="2" ' + 
        'transform="rotate(-45 3 19)" ' + 
        'opacity=".8"' + 
      '/>' + 
      '<rect ' + 
        'width="6" ' + 
        'height="24" ' + 
        'rx="2" ' + 
        'ry="2" ' + 
        'transform="rotate(-45 3 5)" ' + 
        'opacity=".8"' + 
      '/>' + 
      '<rect ' + 
        'width="6" ' + 
        'height="24" ' + 
        'rx="2" ' + 
        'ry="2" ' + 
        'opacity=".8"' + 
      '/>' + 
    '</svg>'), pointer;
}

.card{
  width: 398px;
  max-height: 597px; 
}

.card-img {
  background: none;
  max-width: 398px;
  position: relative;
  max-height: 597px;
}

::ng-deep .modal{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20vh;
  max-height: 597px; 
  overflow: hidden; 
  width: 400px;
}

::ng-deep .modal-dialog{
  max-width: 400px;
  margin: 0;
}

.pos-correct-top{
  width: 92%;
  position: relative;
  top: 0.4vh;
  left: 0.4vw;
  z-index: 2;
}

::-webkit-scrollbar {
  width: 12px; /* larghezza della barra */
}

/* Pulsanti freccia su e giù */
::-webkit-scrollbar-button {
  display: none;
}

/* Tracciato della barra di scorrimento */
::-webkit-scrollbar-track {
  background: white; /* colore del tracciato */
}

/* Parte scorrevole della barra */
::-webkit-scrollbar-thumb {
  background: #c02936; /* colore della parte scorrevole */
  border-radius: 20px;
}

/* Pulsante iniziale/fine della barra */
::-webkit-scrollbar-track-piece:start {
  background: white; /* colore del pulsante iniziale */
}

/* Pulsante finale della barra */
::-webkit-scrollbar-track-piece:end {
  background: white; /* colore del pulsante finale */
}