
/** ** fonts ** **/
*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
}

/** ** texts ** **/
p{
  padding-top: 22px;
  font-size: 36px;
  align-items: center;
  text-align: center;
}

p span{
  background: none;
  color: #c02936;
  font-size: 36px;
  align-items: center;
  text-align: center;
  text-shadow: -3px 3px 3px black,
               -1px 2px 2px red;
}

/** ** first text before each movie list ** **/
.first-text{
  position: relative;
  left: 50%;
  translate: -50%;
  width: 89%;
  text-shadow: -4px 4px 4px black;
  height: 2vh;
  color: white;
}

.first-text p{
  position: relative;
  top: 5vh;
}

/** ** film lists ** **/
.list {
  max-width: 1300px;
  margin: 20vh auto; /* Imposta il margine superiore e inferiore su 20vh e il margine laterale su auto per centrare l'elenco */
  display: flex;
  flex-wrap: wrap; /* Permette il wrapping degli elementi sulla nuova riga */
  justify-content: space-between; /* Distribuisce uniformemente gli elementi lungo l'asse principale (orizzontale) */
  background: transparent;
}

.box {
  position: relative;
  width: 140px;
  margin: 40px; /* Aggiunto margine tra gli elementi */
}

.box img{
  overflow: hidden;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 190px;
  height: 240px;
}

.list:hover {
  min-height: 120px;
  overflow:visible;
  cursor: url('data:image/svg+xml;utf8,' + 
              '<svg xmlns="http://www.w3.org/2000/svg" ' + 
                'viewBox="0 0 24 24" ' + 
                'fill="white" ' + 
                'width="48px" ' + 
                'height="48px"' + 
                '>' + 
                '<path ' + 
                  'd="M0 0h24v24H0z" ' + 
                  'fill="none"' + 
                '/>' + 
                '<rect ' + 
                  'width="6" ' + 
                  'height="24" ' + 
                  'rx="2" ' + 
                  'ry="2" ' + 
                  'transform="rotate(-45 3 19)" ' + 
                  'opacity=".8"' + 
                '/>' + 
                '<rect ' + 
                  'width="6" ' + 
                  'height="24" ' + 
                  'rx="2" ' + 
                  'ry="2" ' + 
                  'transform="rotate(-45 3 5)" ' + 
                  'opacity=".8"' + 
                '/>' + 
                '<rect ' + 
                  'width="6" ' + 
                  'height="24" ' + 
                  'rx="2" ' + 
                  'ry="2" ' + 
                  'opacity=".8"' + 
                '/>' + 
              '</svg>'), pointer;
}

.box :hover{
  cursor: url('data:image/svg+xml;utf8,' + 
    '<svg xmlns="http://www.w3.org/2000/svg" ' + 
      'viewBox="0 0 24 24" ' + 
      'fill="white" ' + 
      '' +
      'width="48px" ' + 
      'height="48px"' + 
      '>' + 
      '<path ' + 
        'd="M0 0h24v24H0z" ' + 
        'fill="none"' + 
      '/>' + 
      '<rect ' + 
        'width="6" ' + 
        'height="24" ' + 
        'rx="2" ' + 
        'ry="2" ' + 
        'transform="rotate(-45 3 19)" ' + 
        'opacity=".8"' + 
      '/>' + 
      '<rect ' + 
        'width="6" ' + 
        'height="24" ' + 
        'rx="2" ' + 
        'ry="2" ' + 
        'transform="rotate(-45 3 5)" ' + 
        'opacity=".8"' + 
      '/>' + 
      '<rect ' + 
        'width="6" ' + 
        'height="24" ' + 
        'rx="2" ' + 
        'ry="2" ' + 
        'opacity=".8"' + 
      '/>' + 
    '</svg>'), pointer;

  /* Aggiungi l'ombra al cursore */
  text-shadow:
  -3px 3px 3px black,
  -1px 2px 2px red;
}

/* ************ is correct ********* */

.pos-isCorrect{
  position: absolute;
  top: 1vh;
  scale: 1.8;
}

.pos-icon{
  position: absolute;
  top: 2px;
  left: 3vh;

  /* ***** shadow for the icon ***** */
  text-shadow:
  -3px 3px 3px black,
  -1px 2px 2px red;
}

.pos-index{
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 11px;

  /* ***** shadow for the number ***** */
  text-shadow: none !important;
  box-shadow:
  -3px 3px 3px black,
  -1px 2px 2px white;

}

/** ** buttons ** **/
.tasto-pos{
  position: absolute;
  right: 20vh;
  top: -51vh;
}

.close-btn{text-shadow: -3px 3px 3px 3px black,
  -1px 2px 2px #c02936;
  position: absolute;
  top: 12px;
  right: 17px;
  border: none;
  background: black;
  transform: scale(1.2);
  text-shadow:
    -3px 3px 3px black,
    -1px 2px 2px red;
  border-radius: 5px;
}

.close-btn:hover{
  transform: scale(2);
}

.scale{
  transform: scale(0.65);
}

.btn-l{
  position: relative;
  left: 90px;
  bottom: 680px;
}

.btn-r{
  position: relative;
  right: -310px;
  bottom: 680px;
}

.btn-cent{
  transform: scale(0.65);
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 440px;
}

.show-card-btn{
  position: relative;
  width: 100%;
  bottom: 50px;
}

/** ** all cards ** **/
::ng-deep .modal{
  width: 402px;
  position: absolute;
  left: 50%;
  translate: -50%;
}

/** ** film cards ** **/
.card{
  width: 399px;
  max-height: 600px; 
}

.card-body{
  margin-top: 40px;
  max-height: 600px;
  align-items: center;
  text-align: center;
}

.card-text{
  font-size: 15px;
  margin-right: 15px;
  margin-left: 15px;
}

.card-title{
  font-size: 22px;
  margin-right: 15px;
  margin-left: 15px;
}

.card-img {
  background: none;
  max-width: 399px;
  position: relative;
  box-shadow: inset
}

.card-img img{
  max-width: 399px;
  border-radius: 5px;
  height: 598px;
}

.adult{
  margin-bottom: 15px;
}

/** ** review ** **/
.modal-body{
  max-height: 600px;
  align-items: center; 
  text-align: center;
}

.modal-title{
  position: relative;
  left: 50%;
  translate: -50%;
  top: 20px;
  max-height: 600px;
}

.rating{
  font-size: 30px; 
  color: red;
}

.review{
  width: 360px; 
  text-align: center;
  margin-bottom: 30px;
}